# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GithubProjects\BinOctDecHexConverter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
